body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.quote-section,
.signup-section,
.footer {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header,
.info-section {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.header, 
.info-section,
.quote-section,
.signup-section {
    margin-bottom: 3%;
}

.header,
.footer {
    background-color: #1F2937;
}

.bottom-header-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.bottom-header-secondary-text,
a {
    font-size: 18px;
    color: #E5E7EB;
}

.topleft-header {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 32px;
}

a {
    text-decoration: none;
}

.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 5px;
    position: fixed;
}

.top-header-background {
    width: 100%;
    padding: 5px;
    background-color: #1F2937;
    position: fixed;
    height: 28px;
}

.bottom-header {
    display: flex;
    width: 80%;
    gap: 40px;
    margin-bottom: 5%;
    margin-top: 7%;
}

.bottom-header-text,
.bottom-header-image {
    width: 50%;
}

.bottom-header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom-header-secondary-text {
    margin-bottom: 5px;
}

.bottom-header-image {
    max-height: 200px;
    object-fit: cover;
}

.blue-box-button,
.bottom-header-button {
    background-color: #3882F6;
    border-style: solid;
    color: white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    width: 100px;
    font-weight: 700;
    border-radius: 6px;
    border-color: #3882F6;
    font-size: 16px;
}

.info-title,
.quote-text {
    font-size: 36px;
    color: #1F2937;
}

.info-title {
    font-weight: 900;
    margin: 24px;
}

.info-image {
    height: 140px;
    width: 140px;
    border: 5px;
    border-style: solid;
    border-width: 3px;
    border-radius: 10%;
    border-color: #3882F6;
    margin-bottom: 5px;
    object-fit: fill;
}

.info-section-container {
    display: flex;
    gap: 44px;
}

.info {
    max-width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-section {
    text-align: center;
}

.quote-text {
    font-weight: lighter;
    font-style: italic;
    width: 80%;
    margin-top: 3%;
}

.quote-section {
    background-color: #E5E7EB;
}

.quote-citation {
    width: 80%;
    margin-bottom: 3%;
    text-align: end;
    font-weight: 700;
    font-size: 24px;
}

.blue-box {
    background-color: #3882F6;
    display: flex;
    padding: 3%;
    width: 50%;
    justify-content: space-between;
    border-radius: 20px;
    
}

.blue-box-left {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    color: #F9FAF8;
}

.blue-box-header {
    font-size: 24px;
    font-weight: 700;
}

.blue-box-button {
    border-color: #F9FAF8;
    margin-right: 5%;
}

.footer {
    color: #F9FAF8;
    padding: 2%;
}