body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.header,
.info-section,
.quote-section,
.signup-section,
.footer {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header,
.footer {
    background-color: #1F2937;
}

.quote-section {
    background-color: #E5E7EB;
}

.blue-box,
.blue-box-button,
.bottom-header-button {
    background-color: #3882F6;
}

.bottom-header-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.bottom-header-secondary-text,
a {
    font-size: 18px;
    color: #E5E7EB;
}

.info-title,
.quote-text {
    font-size: 36px;
    color: #1F2937;
}

.info-title {
    font-weight: 900;
}

.quote-text {
    font-weight: lighter;
    font-style: italic;
}

.topleft-header {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*attempt at distributing boxes based on intended results
.top-header,
.footer {
    height: 5vh;
}

.header,
.info-section,
.quote-section, {
    height: 25vh;
}

.signup-section {
    height: 20vh;
}*/